<div class="panel panel-primary">
  <h1 class="text-center">User Dashboard</h1>
</div>

<div class="panel panel-primary">
  <p class="text-center"><strong>Welcome <%= current_user.username  %></strong></p>
  <p class="text-center">Email: <%= current_user.email %> </p>
</div>
