<div class="panel panel-primary">
  <h1>User Dashboard</h1>
</div>

<div class="panel panel-primary">
  <p><strong>Welcome, <%= current_user.username %></strong></p>
  <p>Email: <%= current_user.email %> </p>
</div>
