<div class="row">
  <div class="container col-md-8">
    <% items.each do |item| %>
    <% item.check_bid_status %>
    <% if item.bid_status == "Open" %>
    <div class="well well-sm">
    <div class="media">
      <div class="media-left .pull-left">
        <%= image_tag item.image_path, :class => "resize"%>
      </div>
      <div class="media-body .pull-right">
          <h3 id="title" class="media-heading text-center"><%=link_to item.title, item_path(item.id) %></h3>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
