<div class="text-center">
  <img id="homepage_image" src="https://s-media-cache-ak0.pinimg.com/736x/d8/62/9b/d8629b948ca82b40ee180da2987dde9d.jpg" alt="" />
</div>

<br>
<br>
<div class="panel panel-primary">
  <h4 class="text-center">Featured Items</h4>
</div>
<br>
<%= render partial: "shared/item", locals: { items: @items } %>
