<div class="panel panel-primary">
  <h1>Your Orders</h1>
</div>
<div>
  <div class="container">
    <ul>
    <% @orders.each do |order| %>
      <li>Order Number: <%= order.id %> <%= link_to "View Order", orders_path %> </li>
    <% end %>
    </ul>
  </div>
</div>
