<h1>Select a Pick Up Time</h1>

<ul><strong>Pick Up Hours:</strong>
  <li>Tuesday - Saturday</li>
  <li>10:00am - 3:00pm</li>
</ul>
<br>

<%= form_for([@order, @reservation]) do |f| %>
  <%= f.label :pickup_time, "Select Pickup Time" %>
  <%= f.select :pickup_time, options_for_select(Reservation.generate_date_range.map { |time| [ time.strftime("%b %e, %I:%M %p"), time] }) %>
  <%= f.submit "Make Reservation" %>
<% end %>
