<div class="panel panel-primary">
  <h3>Select a Pick Up Time</h3>
</div>

<div class="well well-sm">

  <ul class="text-center"><strong>Pick Up Hours:</strong>
    <li>Tuesday - Saturday</li>
    <li>10:00am - 3:00pm</li>
  </ul>
  <br>

<div class="text-center">

<%= form_for([@order, @reservation]) do |f| %>
  <%= f.label :pickup_time, "Select Pickup Time" %>
  <%= f.select :pickup_time, options_for_select(Reservation.generate_available_dates.map { |time| [ time.strftime("%b %e, %I:%M %p"), time] }) %>
  <%= f.submit "Make Reservation" %>
<% end %>
  </div>
</div>
