<div class="row">
  <div class="container col-md-8 col-md-offset-2">
    <h3 class="text-center"> <%=link_to @item.title, item_path(@item) %></h3>
    <div class="text-center"><%= @item.description %></div>
    <form>
      <div class="form-group">
        <label for="bid">Current Bid: <%= @item.starting_bid %></label>
        <input type="text" class="form-control" id="bid">
      </div>
    </form>
      <div class="text-center", id="bid"><%= link_to "Bid", cart_path(id: @item.id), class: "btn btn-primary btn-lg active", method: :post %></div>
    </div>
  </div>
