img {
  max-width: 300px;
  max-height: 200px;
}

.item-show {
  height: 500px;
}

.home-item-show {
  height: 500px;
}

.homepage-items {
  align-content: center;
  display: flex;
  align-items: center;
}
