img {
  max-width: 250px;
  max-height: 250px;
}

media-body {
  text-overflow: ellipsis;
  white-space: nowrap;
}

#butts {
    display:inline:block;
    border-radius:3px;
    margin-bottom: 3px;
}
